.page-template-default {
	
}

.page-form{
	margin: 5rem auto;
	width: 54%;
	
	@media (max-width : $desktop) {
		width: 75%;
	}
	
	@media (max-width : $tablet) {
		width: 100%;
	}
	
	.gform_title{
		margin: 0 0 2rem 0;
		font-size: 1.6rem;
		line-height: 1;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
	}
}